#body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
}

#header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

ol {
    margin: 0px;
}

